@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-image: url(./images/bg-color.jpg);
  }
  .wrapper >*{
    // border: 1px solid #000; takes out the border of containers
    max-width: 900px;
    align-content: center;
    align-self: center;
    margin: 0;
}

/*-----------------------------------Profile Picture section-----------------------------------*/

.wrapper-profile{
  display: inline-flex;
  width: 100%;
  padding: 5rem;
  margin-top: 30px;
  margin: 0 auto;
  // margin-left: 250px;
  justify-content: center;
}
// .wrapper-profile .portfolio-img__circle{
//   flex: 0.5;

// }
// .wrapper-profile img{
//   height: 400px;
//   width: 400px;  
//   float: left;
//   border-radius: 100%;
  
// }


.wrapper-profile .portfolio-title h1{
  height: 140px;
  margin-top: 10px;
  padding-left: 20px;
}
.wrapper-profile .title1{
  color: blueviolet;
  margin-left: -40px;
  font-size: 50px;

}
.wrapper-profile .title2{
  color: pink;
  font-size: 50px;

}
.wrapper-profile .title3{
  color: white;
  margin-left: -40px;
  font-size: 50px;
}
.right-margin-text{
  text-align: justify;
}

.Profile_container{
  top: 90%;
  height: 310px;
  width: 310px;
  border-radius: 100%;
  z-index: 2;
  // margin: 0;
  margin-left: 200px ;
  margin-top: 100px ;
  

  /* background: #fff;
  background: rgba(255, 255, 255, 0.01);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(1px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); */

}

.profile_border 
{
  flex: 2;
  height: 290px;
  width: 290px;
  background: transparent;
  border-radius: 300px;
  transition: border 1s;
  position: relative;
}


.pcard 
{
  height: 400px;
  width: 400px;
  border-radius: 100%;
  background: #808080;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pcard0 
{
  background: url("./images/profilepic-cropped.png") center center no-repeat;
  background-size: 400px;
  background-position: top center;
  
}

.pcard0:hover 
{
  background: url("./images/profilepic.png") left center no-repeat;
  background-size: 300px;
  background-color: black;
  background-blend-mode: luminosity;
}

.pcard h2
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  color: white;
  margin: 120px;
  opacity: 0;
  transition: opacity 1s;
}

.icons 
{
  fill: #ffef16;
  color: #ffef16;
  height: 130px;
  top: 160px;
  left: 100px;
  width: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 1s;
}

.indiv_icon
{
  filter: invert(93%) sepia(17%) saturate(4529%) hue-rotate(342deg) brightness(116%) contrast(105%);
  max-width: 30px;
  height: 70px;
  opacity: 1;
  -webkit-animation: out_profile_icons  0.3s;
}

.pcard0:hover h2 
{
  opacity: 1;
}

.pcard0:hover .icons_facebook
{
  opacity: 1; 
}
.pcard0:hover .icons_instagram
{
  opacity: 1;
}
.pcard0:hover .icons_twitter
{
  opacity: 1;
}
.pcard0:hover .icons_linkedin
{
  opacity: 1;
}

.icons_facebook{position: absolute; top: 80px; left: 20px;  opacity: 0;
  transition: opacity 1s;}
.icons_instagram{position: absolute; top: 160px; left: 30px;  opacity: 0;
  transition: opacity 1s;}
.icons_twitter{position: absolute; top: 220px; left: 80px;  opacity: 0;
  transition: opacity 1s;}
.icons_linkedin{position: absolute; top: 250px; left: 170px;  opacity: 0;
  transition: opacity 1s;}

.icons_facebook:hover
{
  -webkit-animation:  in_profile_icons  0.3s;
  -webkit-animation-fill-mode: both;
}

.icons_instagram:hover
{
  -webkit-animation:  in_profile_icons  0.3s;
  -webkit-animation-fill-mode: both;
}

.icons_twitter:hover
{
  -webkit-animation:  in_profile_icons  0.3s;
  -webkit-animation-fill-mode: both;
}

.icons_linkedin:hover
{
  -webkit-animation: in_profile_icons 0.3s;
  -webkit-animation-fill-mode: both;
}

@-webkit-keyframes in_profile_icons
{
  from  { transform: scale(1); 
      filter: invert(0%) sepia(17%) saturate(4529%) hue-rotate(342deg) brightness(116%) contrast(105%);}
  to    { transform: scale(1.045);
      filter: invert(0%) sepia(17%) saturate(4529%) hue-rotate(342deg) brightness(1500%) contrast(105%);}

  /* from {transform: scale(0); }
  to   {transform: scale(1); border-radius: 10px;} */
}

/* This transition happens after the hover animation is complete */
@-webkit-keyframes out_profile_icons 
{
  0%   { transform: scale(1.045);   
      filter: invert(0%) sepia(17%) saturate(4529%) hue-rotate(342deg) brightness(1500%) contrast(105%);}
  100% { transform: scale(1);
      filter: invert(0%) sepia(17%) saturate(4529%) hue-rotate(342deg) brightness(116%) contrast(105%);}

  /* 0%  {transform: scale(1);border-radius: 10px;}
  100% { transform: scale(0);} */
}


  .about-me{
    margin-top: 100px;
  }
  
  .about-me h1{
  margin-left: auto;
  text-align: center;
  color: white;
  font-weight: 800;
  margin-bottom: 20px;
  }
  .about-me p{
  margin: 0;
  text-align: center;
  color: white;
  }
  .my-services h1{
    margin-left: auto;
    text-align: left;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    }
    
  
  /* NAV BAR SECTION */
  /* For Desktop View and above */
  @media only screen and (min-width: 701px){
    .wrapper{
        // border: 1px solid #000;
        max-width: 900px;
        margin: auto;
    }
  
    /* Hide the Hamburger Icon */
  .navicon{
      display: none;
  }
  .nav{
    background-image: inherit;  

  } 
  .nav a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  }
  
                                                              /* For Mobile Screen to Tablet View */
  @media only screen and (min-width:55px) and (max-width:819px){
    .wrapper>*{
      max-width: 750px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .navicon{
        color: white;
        margin-left: auto;
        display: none;

  }
  }
  
  .services-container{
    // background-color: black;
    margin-top: 80px;
    padding: 50px;
  }
  .services-title{
    text-align: center;
    font-weight: 600;
    color: white;
  }
  
  .services-border{
    width: 150px;
    height: 2px;
    background: black;
    margin: 30px auto;
    background-color: white;
  }
  
  .services-content{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    border-radius: 20px;
  }
  .services-content--box{
    max-width: 100%;
    padding: 14px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
    margin: auto;
    text-decoration: none;
  }
  services-content--box:hover{

  }

  .services-content__title{
    font-size: 14px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: white;
  }
  .services-content:hover{
    transition: ease-in-out 0.5s;
  }
  
  
  .services-content__desc{
    color: white;
  }
  .services-content--box:target{
    display: block;
  }
  
  .services-width{
    width: 100%;
    max-width: 1200px;
    margin:  auto;
    padding: 0 20px;
    overflow: hidden;
  }
  
  @media only screen and (min-width: 55px) and (max-width: 700px) {
    .services-content{
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      border-radius: 20px;
    }
  }

  .lightbox-btn{
    color:white;
  }
  
  /* MODAL CONTAINER CSS */
//   .lightbox-container{
//     min-width: 500px;
//     min-height: 200px;
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     background-color:white;
//     transform: translate(-50%, -80%);
//     border-radius: 15px;
//     transition: transform 0.25s ease-out;
//     /* display: none; */
//   }
  
//   .lightbox::before{
//     content: "";
//       position: fixed;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       background-color: rgba(0,0,0,.8);
//       /* display: none; */
//   }
//   .lightbox-container:target,
//   .lightbox-container::before{
//     display:block;
//   }
  
//   .lightbox-content{
//     padding:25px;
//   }
//   .lightbox-content__actions{
//     margin-top: 15px;
//   }
  
//   .lightbox-btn{
//   background-color: blue;
//   color:white;
//   margin: 10px;
//   padding: 10px;
//   border-radius: 10px;
//   text-decoration:none;
//   }
//   .lightbox-btn:hover{
//     color: grey;
//     background-color: blue;
//     cursor:pointer;
//   }
//   .lightbox-submit{
//     color: black;
//   }
//   .lightbox-submit:hover{
//     color:blue;
//     background-color:white;
//     cursor:pointer;
//     border:none;
//   }
//   .lightbox-close{
//     display:inline-block;
//     float:right;
//   }
//   .lightbox-cancel{
//     color:red;
//     text-decoration:none;
//   }


.lightbox{
    &-container{
    min-width: 500px;
    min-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    border-radius: 15px;
    background-color: #ECEFF1;
    transition: transform 0.25s ease-out;
    display: none;
    }
    &::before{
        content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    display: none;
    }
    &:target {
        .lightbox{
          &-container {
            display: block;
          }
        }
        
        &:before {
          display: block;
        }
      }
      &-content {
        padding: 25px;
        
        &__actions {
          margin-top: 15px;
        }
      }
      &-btn {
        background-color: #039BE5;
        color: black;
        margin: auto;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
        
        &:hover {
          cursor: pointer;
          background-color: #039BE5;
            
            
        }
      }
      &-submit {
        background-color: #039BE5;
        color: #EEEEEE;
        border: none;
        border-radius: 10px;
        padding: 10px;
        
        &:hover {
          color: #EEEEEE;
          background-color: #2702bd;
          cursor: pointer;
        }
      }
      &-close {
        display: inline-block;
        float: right;
      }
      &-cancel {
        text-decoration: none;
      }
}

.form-control{
margin-bottom: 10px;
}
.img-icon{
    width: 150px;
    height: 100px;
    margin: 0 auto;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.services-content:hover{
    // background-color: #198cea;
    background-color: #002727;
    box-shadow: 0px 15px 20px rgba(16, 164, 250, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.img-icon:hover{
    background-color: #000000;
    box-shadow: 0px 15px 20px rgba(16, 164, 250, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

  .img-icon:active{
    transform: translateY(-1px);
  }

// Projects Section

.projects-container{
  // background-color: black;
  margin-top: 80px;
  padding: 50px;
  margin: 0 auto;
}
.projects-width{
  padding: 10px;
  width: 100%;
  align-items: center;
}

.projects-title{
  font-size: 20px;
    font-weight: 900;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: white;
}
.projects-border{
  width: 600px;
    height: 2px;
    background: black;
    margin: 30px auto;
    background-color: white;
}
// .projects-content{
//     display: grid;
//     grid-template-columns: auto auto;
//     background-color: greenyellow;
//     padding: 20px;
//     font-size: 30px;
//     align-self: center;
//     margin-left: 100px;
// }
// .projects-content{
//   display: grid;
//   grid-template-columns: auto auto;
//   grid-template-rows: auto auto;
//   background-color: black;
//   padding: 50px;
//   margin: 50px auto;
//   width: 100%;
//   height: 300px;
// }
.projects-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
@media only screen and (min-width: 55px) and (max-width: 819px) {
  .wrapper>*{
    max-width: 819px;
    margin-left: auto;
    margin-right: auto;
  }
  .projects-content{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  // .wrapper-profile{
  //   width: 100%;
  //   margin-top: 30px;
  //   margin: 0 auto;
  //   justify-content: center;
  // }
  .wrapper-profile{
    display: grid;
    padding: 5rem;
    margin-top: 30px;
    justify-content: center;
  }
  
  .wrapper-profile .portfolio-title h1{
    display: inline;
    text-align: center;
    height: 50px;
    font-size: 21px;
    margin: auto;
    padding: 10px;
  //  display: none;
  }
  .portfolio-title{
    margin-top: 20px;
  }
  .wrapper-profile .title1{
    color: blueviolet;

  }
  .wrapper-profile .title2{
    color: pink;

  }
  .wrapper-profile .title3{
    color: white;
  }
  .pcard0 
  {
    background: url("./images/profilepic-cropped.png") center center no-repeat;
    height: max-content;
    width: max-content;
    padding: 10px;
    margin: 0 auto;
  }
  .pcard0:hover 
{
  background: url("./images/profilepic-cropped.png") left center no-repeat;
  background-size: 250px;
  background-color: black;
  background-blend-mode: luminosity;
}
  
}
  

// CARD STYLES
.card {
  margin: 0 auto;
  width: 200px;
  height: 260px;
  background-color: #039BE5;
  box-shadow: 15px 15px 30px #191919,
               -15px -15px 30px black;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
               transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  margin-bottom: 10px;
 }
 
 .card:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
  box-shadow:  15px 15px 30px #000;
  -webkit-transform: scale(1.3) rotate(5deg);
  transform: scale(1.3) rotate(5deg);

 }
 
 
 .sub-title{
  color: white;
  border-radius: 10px;  
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.sub-title__div{
  
}

// INQUIRE BTN CSS style
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(1, 213, 255, 0.945);
  --animation-color: #ffffff;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text{
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}


.footer-content{
  display: inline-flex;
  max-width: 100%;
  // background-color: lightblue;
  height: 200px;
  gap: 80px;
}
.footer-header h1{
  padding: 10px;
  color: white;
  font-weight: 600;
}

.footer-header p{
  padding: 10px;
  text-align: left;
  font-size: 9px;
  justify-content: center;
  color: white;
}
.footer-header ul li a img{ 
  // margin-left: 20px;
  text-align: center;
  &:hover{
      cursor: pointer;
    }
}
